.body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container {
  margin:40px 120px;
}

/* Home */
.hello {
  text-align: center;
  font-size: 120px;
  margin-top: 170px;
}

.home-desc {
  text-align: center;
  font-size: 20px;
  margin-top: -60px;
}

/* Timer */
.timer {
  height: 60px;
}

.current-time {
  float: left;
}

.countdown {
  float: right;
}

/* Form */
.form-data-container {
  margin: 20px auto;
  width: 300px;
  padding: 0 30px 20px 30px;
  border: 1px solid black;
  border-radius: 15px;
}

.error {
  color: red;
  font-size: 16;
}

.btn-form {
  margin: 10px 5px 0 0;
  padding: 5px 10px;
}

.form-container {
  margin: 20px auto;
  width: 500px;
  padding: 10px 30px 20px 30px;
  border: 1px solid black;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-weight: bold;
}

.input-container {
  padding: 10px 0;
}

.input-container .label {
  font-weight: bold;
  float: left;
}

.input-container .input {
  margin-left: 100px;
}

#form-beli-buah .input-container .input {
  margin-left: 180px;
}

.input-container .input p {
  padding-left: 10px;
  color: red;
}

.input-container .button {
  padding: 5px 10px;
  border-radius: 20px;
}

/* Tabel */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;  
}

th {
  background-color: #074D8C;
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr .colNama {
  width: 150px;
}

tr .colBerat, tr .colHarga {
  width: 100px;
  text-align: center;
}

tr .colAksi {   
  width: 150px;
}

.tabelHarga {
  margin: 0 auto;
}

.btn-edit, .btn-delete {
  margin: 0 3px;
  padding: 3px 8px;
  color: white;
  border: 1px solid #ddd;
}

.btn-edit {
  background-color: #0FBA52;
}

.btn-delete {
  background-color: #D60B0B;
}

/* Navbar */
nav ul {
  margin: 0;
  display: flex;
  align-items: center;  
  background-color: lightblue;  
  padding: 5px 10px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.3);
}

nav ul li {
  margin: 10px;
  list-style: none;
}

nav a {  
  text-decoration: none;
  color: black;
  display: flex;
}

nav a:hover {  
  background-color: #E2EDF6;
}

/* Theme */
.dark-theme nav ul {
  background-color: #012441;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.3);
}

.dark-theme nav  li,
.dark-theme nav a {
  color: white;
}

.dark-theme nav a:hover {  
  background-color: #0D3C64;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #121212;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  
}

.slider.round:before {
  border-radius: 50%;
}
